* {
    font-family: Arial, Helvetica, sans-serif;

}
img.normal {
    float: left;
    width: 300px;
    height: 300px;
}

img.alta {
    float: left;
    width: 300px;
    height: 420px;
}

h1 {
    border-bottom-style: inset;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}